---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404" header={{ kind: "list", title: "404" }}>
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="error-page">
          <p>
            Well, this is awkward. The page you are looking for has wandered off,
            much like my motivation to post regularly.
          </p>
          <p>
            Maybe it never existed. Maybe I deleted it in a fit of
            perfectionism. Maybe you typed the URL with the same confidence I
            have when I claim the next post is coming soon.
          </p>
          <p>
            Either way, here is a door back to the posts that do exist:
          </p>
          <p class="error-home-link">
            <a href="/">&larr; Back to the posts</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
