---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404" header={{ kind: "list", title: "404" }}>
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="error-page">
          <p>
            The page you are looking for has wandered off, much like my
            motivation to post regularly. Here's a portal back to the posts that
            do exist:
          </p>
          <p class="error-home-link">
            <a href="/">&larr; Back to the posts</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
